.card-container {
  background: white;
  border-radius: 20px;
  padding: 30px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  animation: fadeIn 0.8s ease;
  margin-top: 100px;
}


.page_error {
  padding: 40px 0;
  background: #fff;
  font-family: "Arvo", serif;
  color: #131522;
  text-align: center;
  font-size: 0.9rem;
}

.page_error_animation {
  background-image: url('../../../../public/icons/not-found.gif');
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
}

.page_error_animation h1 {
  font-size: 5rem;
}

.page_error .button {
  color: #fff !important;
  padding: 10px 20px;
  background: #0184ff;
  margin: 20px 0;
  display: inline-block;
  text-decoration: none;
  border-radius: 10px;
  transition: 0.4s;
}

.page_error .button:hover {
  background: #2442ca;
}

.page_error h3 {
  font-size: 2rem;
  margin: 0;
}

.page_error #footer-logo {
  width: 150px;
  margin: 50px 0;
  opacity: 0.5;
}
