<div>
  <h1>Nuestros Productos</h1>
</div>

<mat-form-field appearance="outline" class="full-width estiloSelect">
  <mat-label>Categoría de productos</mat-label>
  <mat-select [(value)]="categoriaSeleccionada" (selectionChange)="seleccionarCategoria($event)">

    <mat-option value="Todos los productos">Mostrar Todos los Productos</mat-option>

    <mat-option *ngIf="categoriasNuevas.length === 0" value="0" disabled  >
      Por el momento no hay categorias registradas
    </mat-option>

    <mat-option *ngFor="let cat of categoriasNuevas" [value]="cat.nombreCategoria.toLocaleLowerCase()">
      {{ cat.nombreCategoria }}
    </mat-option>
  </mat-select>
</mat-form-field>

<app-visualizacion-productos-cliente
  *ngIf="categoriaSeleccionada"
  [categoria]="categoriaSeleccionada"
  [attr.key]="categoriaSeleccionada">
</app-visualizacion-productos-cliente>
