.icono-red {
  width: 30px;   /* tamaño ideal */
  height: 30px;  /* mismo ancho y alto para no deformar */
  object-fit: contain;
}




.perfilPersonal{
  text-decoration: none;
  color: #0027a5;
  font-size: large;
  font-weight: bold;
}

.perfilPersonal:visited{
  text-decoration: underline;
}



.perfilPersonal:hover{
  color: rgb(70, 70, 70);
}
