<div class="container">
  <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top">

    <div class="col mb-3"></div>
    <div class="col mb-3">
      <h5>Horarios de Atención</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2">
          <a href="#" class="nav-link p-0 text-body-secondary">Lunes a viernes</a>
          <p>10:00 AM a 19:00 PM</p>
        </li>
        <li class="nav-item mb-2">
          <a href="#" class="nav-link p-0 text-body-secondary">Sábados y Domingos</a>
          <p>10:00 AM a 16:00 PM</p>
        </li>
      </ul>
    </div>




    <div class="col mb-3">
      <h5>Números de atención</h5>
      <ul class="list-unstyled">
        <li class="d-flex align-items-center mb-2">
          <img src="icons/telefono.png" alt="Teléfono" class="icono-red me-2">
          <a class="link-body-emphasis" href="tel:5919170915">5919 170 915</a>
        </li>
        <li class="d-flex align-items-center">
          <img src="icons/telefono.png" alt="Teléfono" class="icono-red me-2">
          <a class="link-body-emphasis" href="tel:5610903664">5610 903 664</a>
        </li>
      </ul>
    </div>



    <div class="col mb-3">
      <h5>Encuentranos en nuestras redes sociales</h5>
      <ul class="list-unstyled d-flex redes-sociales">
        <li class="ms-3">
          <a class="link-body-emphasis" href="https://www.facebook.com/profile.php?id=100008879267382"
            aria-label="Facebook" target="_blank">
            <img src="icons/facebook.png" alt="Facebook" class="icono-red">
          </a>
        </li>
        <li class="ms-3">
          <a class="link-body-emphasis" href="https://www.instagram.com/cocintra_monica/" aria-label="Instagram"
            target="_blank">
            <img src="icons/instagram.png" alt="Instagram" class="icono-red">
          </a>
        </li>
      </ul>

      <div class="col mb-3">
        <img src="icons/Cocinas_Integrales_Monica.png" alt="Logo" width="60%" height="30%"
          class="figura d-inline-block">
        <p class="text-body-secondary">&copy; 2025 Derechos recervados</p>
      </div>
    </div>
  </footer>

  <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
    <p>Made by Ing. Kriling Jarid </p>
    <ul class="list-unstyled d-flex">
      <li class="ms-3"><a class="link-body-emphasis" href="https://www.instagram.com/cocintra_monica/"
          aria-label="Instagram"><i class="bi bi-instagram"></i></a>
      </li>
      <li class="ms-3"><a class="link-body-emphasis" href="https://www.facebook.com/profile.php?id=100008879267382"
          aria-label="Facebook"><i class="bi bi-facebook"></i></a>
      </li>
    </ul>
  </div>
</div>
