table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}


.sinResultado{
  text-align: center;
  color: red;
  font-size: 15px;
  font-weight: bold;
}
