<mat-dialog-content class="mat-typography p-3">
  <h4>Editar la Categoria <i>"{{data.categoria.nombreCategoria}}"</i></h4>
  <form [formGroup]="categoriaForm" class="product-form">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Nombre de la categoria</mat-label>
      <input matInput formControlName="nombreCategoria" placeholder="Ej: Pollo asado">
      <mat-error *ngIf="categoriaForm.get('nombreCategoria')?.hasError('required')">
        El nombre es obligatorio
      </mat-error>
    </mat-form-field>


    <!-- Botones -->
   <!--  <div class="d-flex justify-content-end mt-4 gap-2">
      <button class="botonEditar" (click)="editarCategoria()" [disabled]="categoriaForm.invalid">
        Actualizar Categoria
      </button>
      <button class="botonEliminar" color="primary" (click)="cerrar()">Cerrar</button>

    </div> -->

    <div class="d-flex justify-content-end mt-4 gap-2">
      <button class="botonEditar" (click)="editarCategoria()" type="submit"
        [disabled]="categoriaForm.invalid || isLoading">
        <ng-container *ngIf="!isLoading; else loading">
          Actualizar Producto
        </ng-container>
        <ng-template #loading>
          <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
          <span class="ms-2" role="status">Actualizando...</span>
        </ng-template>
      </button>
      <button class="botonEliminar" (click)="cerrar()">Cerrar</button>
    </div>
  </form>
</mat-dialog-content>

