.form-container {
  max-width: 600px;
  margin: 2rem auto;
  padding: 2rem;
  border-radius: 12px;
  background: #ffffff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.form-container h1 {
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 1.8rem;
  color: #333;
}

.product-form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.full-width {
  width: 100%;
}

.submit-btn {
  margin-top: 1rem;
  padding: 0.8rem;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 8px;
}

/* Estilo del campo */
.precio-field {
  transition: all 0.3s ease-in-out;
}

/* Prefijo ($) */
.peso-prefix {
  color: #6c757d; /* gris suave */
  font-weight: 600;
  font-size: 1.1rem;
  transition: color 0.3s ease;
}

/* Efecto al enfocar */
.precio-field.mat-focused .peso-prefix {
  color: #00bfa6; /* color tipo Mercado Pago */
}

.precio-field.mat-focused .mat-mdc-outline {
  border-color: #00bfa6 !important;
}

/* Estilo general del input */
.mat-mdc-input-element {
  font-weight: 500;
  font-size: 1.1rem;
}


.botonEditar{
 background-color: #ffc107;
  color: rgb(3, 3, 3);
  border-radius: 10px;
  padding: 15px;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease; /* Suaviza la animación */
}

.botonEditar:hover {
  transform: translateY(-3px); /* Se eleva */
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.25); /* Sombra realista */

}

.botonEditar:active {
  transform: translateY(0px);
  box-shadow: 0px 3px 6px rgba(0,0,0,0.20);
}

.botonEditar:disabled {
  background-color: #e0e0e0 !important; /* gris */
  color: #8a8a8a !important;            /* texto gris */
  cursor: not-allowed !important;       /* cursor de bloqueado */
  transform: none !important;           /* sin animación */
  box-shadow: none !important;          /* sin sombra */
}

.botonEditar:disabled:hover {
  transform: none !important;
  box-shadow: none !important;
}





.botonEliminar{
 background-color: #dc3545;
  color: white;
 border-radius: 10px;
  padding: 15px;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease; /* Suaviza la animación */
}

.botonEliminar:hover {
  transform: translateY(-3px); /* Se eleva */
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.25); /* Sombra realista */

}

.botonEliminar:active {
  transform: translateY(0px);
  box-shadow: 0px 3px 6px rgba(0,0,0,0.20);

}
