<div class="error-container">
  <div style="text-align: center">
    <img src="icons/buildPage.png" alt="" width="100%" height="500px">
    <div class="error-code">404</div>
    <h2>Lo sentimos!!</h2>
    <div class="error-message">Por el momento este servicio no se encuentra disponible</div>
    <!--   <a href="/" class="home-btn"><i class="fas fa-home"></i> Voltar para a página inicial do app My Note</a> -->
    <button class=" home-btn" routerLink="/">Volver para la página incial</button>
  </div>
</div>
