<mat-dialog-content class="mat-typography p-3 producto-detalle-dialog">

  <!-- Título -->
  <h2>{{ producto.nombre }}</h2>

  <!-- Galería de imágenes -->
  <mat-tab-group mat-align-tabs="center" dynamicHeight>
    @for (img of producto.imagen; track $index) {
    <mat-tab [label]="'Imagen ' + ($index + 1)">
      <div class="producto-img-container">
        <img [src]="img.urlImagen" alt="{{ producto.nombre || 'Imagen del producto' }}" (error)="onImagenError($event)"
          class="producto-img" />
      </div>
    </mat-tab>
    }
  </mat-tab-group>

  <hr class="producto-separador">

  <!-- Categoría -->
  <p>
    <strong>Categoría del producto:</strong>
    <span class="badge bg-primary text-uppercase px-2">
      {{ producto.categoria.nombreCategoria }}
    </span>
  </p>

  <!-- Descripción -->
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <strong>Descripción del producto</strong>
      </mat-expansion-panel-header>
      <p>{{ producto.descripcion }}</p>
    </mat-expansion-panel>
  </mat-accordion>

  <!-- Botón -->
  <div class="d-flex justify-content-end mt-4">
    <button mat-raised-button color="primary" (click)="cerrar()">Cerrar</button>
  </div>

</mat-dialog-content>
