<nav class="navbar navbar-expand-lg bg-light shadow-lg colorPrimario">
  <div class="container-fluid">
    <a class="navbar-brand claseNueva" type="button" routerLink="/admin/">Bienvenido: <strong> {{nombreUsuario}}
      </strong></a>
    <button class="navbar-toggler menuHamburguesa" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle claseNueva" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Gestion Productos
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="/admin/dashboard">Listado de Productos</a></li>
            <li><a class="dropdown-item" routerLink="/admin/productos/registro">Registro de Productos</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle claseNueva" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Gestion Categorias
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="/admin/categorias/listar">Listado de Categorias</a></li>
            <li><a class="dropdown-item" routerLink="/admin/categorias/registro">Registro de categorias</a></li>
          </ul>
        </li>
      </ul>

      <!-- Example single danger button -->
      <div class="btn-group">
        <button type="button" class="botonConfiguracion d-block text-decoration-none dropdown-toggle claseBoton "
          data-bs-toggle="dropdown" aria-expanded="false">
          <img src="icons/mi-perfil.png" alt="" width="32" height="32" style="border: 1px solid rgb(39, 39, 39);"
            class="rounded-circle me-2" />Configuración
        </button>
        <ul class="dropdown-menu dropdown-menu-end text-small shadow-lg ">
          <div class="text-center perfil">
            <img src="icons/mi-perfil.png" alt="" width="32" height="32" style="border: 1px solid rgb(39, 39, 39);"
              class="rounded-circle me-2" />
          </div>
          <div class="dropdown-item text-center">
            <h2 class="font-weight-bold capitalize" id="userName">
              <strong>{{nombreUsuario}}</strong>
            </h2>
            <br>
          </div>
          <li>
            <a class="dropdown-item text-center" routerLink="/admin/miPerfil">
              <button class="btn btn-primary">Mi cuenta</button>
            </a>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li>
            <a class="dropdown-item" type="button" (click)="questionUser()">
              <i class="bi bi-box-arrow-right"></i> Cerrar Sesión
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
