.colorPrimario {
background: #000428;
background: -webkit-linear-gradient(to right, #004e92, #000428);
background: linear-gradient(to right, #004e92, #000428);
}


.claseNueva {
  color: white;
}


.claseNueva:hover {
  color: rgb(0, 204, 255);
}



