.icono-red {
  width: 30px;   /* tamaño ideal */
  height: 30px;  /* mismo ancho y alto para no deformar */
  object-fit: contain;
}


.numeroContacto{
  text-decoration: none;
  color: black;

}

.numeroContacto:hover{
  color: blue;

}


.perfilPersonal{
  color: #6e6f70;
  font-size: large;
  font-style: italic;
}

.perfilPersonal:visited{
  text-decoration: underline;
}



.perfilPersonal:hover{
  color: rgb(70, 70, 70);
  cursor: pointer;
}
