<div class="careermilestone_marque">
  <div class="careermilestone_marque_container">
    <!-- First Set -->
    <div class="careermilestone_marque_content">
      <span class="careermilestone_marque_text">
        <i class="fas fa-graduation-cap"></i>
      <img src="icons/Kober.png" alt="" width="150%" height="120%">
      </span>
      <span class="careermilestone_marque_text">
        <i class="fas fa-star"></i>
         <img src="icons/mabe.png" alt="" width="150%" height="120%">
      </span>
      <span class="careermilestone_marque_text">
        <i class="fas fa-university"></i>
         <img src="icons/ebTecnica.png" alt="" width="150%" height="120%">
      </span>
      <span class="careermilestone_marque_text">
        <i class="fas fa-book"></i>
          <img src="icons/Teka.png" alt="" width="150%" height="120%">
      </span>
      <span class="careermilestone_marque_text">
        <i class="fas fa-trophy"></i>
          <img src="icons/mabe.png" alt="" width="150%" height="120%">
      </span>
    </div>

    <!-- Duplicate Set for Seamless Loop -->
    <div class="careermilestone_marque_content">
      <span class="careermilestone_marque_text">
        <i class="fas fa-graduation-cap"></i>
      <img src="icons/Kober.png" alt="" width="150%" height="120%">
      </span>
      <span class="careermilestone_marque_text">
        <i class="fas fa-star"></i>
         <img src="icons/mabe.png" alt="" width="150%" height="120%">
      </span>
      <span class="careermilestone_marque_text">
        <i class="fas fa-university"></i>
         <img src="icons/ebTecnica.png" alt="" width="150%" height="120%">
      </span>
      <span class="careermilestone_marque_text">
        <i class="fas fa-book"></i>
          <img src="icons/Teka.png" alt="" width="150%" height="120%">
      </span>
      <span class="careermilestone_marque_text">
        <i class="fas fa-trophy"></i>
        <img src="icons/Kober.png" alt="" width="150%" height="120%">
      </span>
    </div>
  </div>
</div>
