.offline_page {
  padding: 40px 0;
  background: #fff;
  font-family: "Arvo", serif;
  color: #131522;
  text-align: center;
  font-size: 0.9rem;
}

.card-container {
  background: white;
  border-radius: 20px;
  padding: 30px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  animation: fadeIn 0.8s ease;
  max-width: 600px;
  margin: 0 auto;
}

.offline_animation {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.offline_animation img {
  max-width: 250px;
  animation: float 3s ease-in-out infinite;
}

.offline_page h2 {
  font-size: 2rem;
  margin-top: 10px;
  color: #ff5b5b;
}

.offline_page h3 {
  font-size: 1.2rem;
  margin-bottom: 20px;
  color: #555;
}

.offline_page .button {
  color: #fff !important;
  padding: 10px 25px;
  background: #131522;
  border: none;
  border-radius: 10px;
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
  transition: 0.4s;
  cursor: pointer;
}

.offline_page .button:hover {
  background: #5A77FF;
  transform: scale(1.05);
}

/* Animaciones */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}
