<div class="contact-container">
  <h1>Contáctanos</h1>

  <div class="contact-card">
    <div class="contact-card-left">
      <img src="icons/contactanos.png" alt="Contacto">
    </div>
    <div class="contact-card-right">
      <form [formGroup]="envioCorreo" (ngSubmit)="enviarCorreo()" class="contact-form">

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Nombre Cliente:</mat-label>
          <input matInput placeholder="Tu nombre" formControlName="nombreCliente" placeholder="Ej: Jose Juan">
          <mat-error *ngIf="envioCorreo.get('nombreCliente')?.hasError('required')">
            El nombre es obligatorio
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Correo del cliente</mat-label>
          <input matInput formControlName="correoCliente" placeholder="correo@ejemplo.com">
          <mat-error *ngIf="envioCorreo.get('correoCliente')?.hasError('required')">
            El correo es obligatorio
          </mat-error>
          <mat-error *ngIf="envioCorreo.get('correoCliente')?.hasError('email')">
            Correo no válido
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Asunto del Cliente:</mat-label>


          <mat-select formControlName="asuntoCliente">


            <!--  <mat-option value="consulta" matTooltip="Solicitar presupuesto de un producto o servicio">
              Realización de presupuesto
            </mat-option>
            <mat-option value="soporte" matTooltip="El costo por visita pude variar entre los $200.00 y $500.00 pesos">
              Toma de medidas (visita a domicilio)
            </mat-option>
            <mat-option value="otros" matTooltip="Otro tipo de solicitud no especificada">
              Otros
            </mat-option> -->


            <mat-option [value]="{ codigo: 'consulta', etiqueta: 'Realización de presupuesto' }"
            matTooltip="Solicitar presupuesto de un producto o servicio">

              Realización de presupuesto

            </mat-option>

            <mat-option [value]="{ codigo: 'soporte', etiqueta: 'Toma de medidas (visita a domicilio)' }"
            matTooltip="El costo por visita pude variar entre los $200.00 y $500.00 pesos">

              Toma de medidas (visita a domicilio)

            </mat-option>

            <mat-option [value]="{ codigo: 'otros', etiqueta: 'Otros' }"
            matTooltip="Otro tipo de solicitud no especificada">

              Otros

            </mat-option>




          </mat-select>
          <mat-error *ngIf="envioCorreo.get('asuntoCliente')?.hasError('required')">
            El Asunto es obligatorio
          </mat-error>
        </mat-form-field>


        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Mensaje del Cliente:</mat-label>
          <textarea matInput  formControlName="mensajeCliente"
            placeholder="Eje: Solicito de su apreciable apoyo con la cotizacion de una cocina">
          </textarea>
          <mat-error *ngIf="envioCorreo.get('mensajeCliente')?.hasError('required')">
            El Mensaje es obligatorio
          </mat-error>
        </mat-form-field>



        <button class="contact-btn" type="button" type="submit" [disabled]="envioCorreo.invalid || isLoading">
          <ng-container *ngIf="!isLoading; else loading">
            Enviar Correo
          </ng-container>
          <ng-template #loading>
            <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
            <span class="ms-2" role="status">Enviando Correo...</span>
          </ng-template>
        </button>
      </form>
    </div>
  </div>
</div>
