<mat-dialog-content class="mat-typography p-3">
  <h4>Editar el producto <i>"{{producto.nombre}}"</i></h4>

  <form [formGroup]="productoForm" class="product-form">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Nombre del producto</mat-label>
      <input matInput formControlName="nombre" placeholder="Ej: Pollo asado">
      <mat-error *ngIf="productoForm.get('nombre')?.hasError('required')">
        El nombre es obligatorio
      </mat-error>
    </mat-form-field>

    <!-- Categoría -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Categoría</mat-label>
      <mat-select formControlName="categoria">
        <!-- Placeholder REAL -->
        <mat-option value="">Seleccione una categoría</mat-option>

        <!-- Categorías cargadas -->
        <mat-option *ngFor="let cat of categoriasNuevas" [value]="cat.idCategoria">
          {{ cat.nombreCategoria }}
        </mat-option>

      </mat-select>

      <mat-error *ngIf="productoForm.get('categoria')?.hasError('required')">
        La categoría es obligatoria
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Descripcion del producto</mat-label>
      <textarea matInput formControlName="descripcion" placeholder="Ej: Cocina en alto brillo estilo de"></textarea>
      <mat-error *ngIf="productoForm.get('descripcion')?.hasError('required')">
        El Descripcion es obligatorio
      </mat-error>
    </mat-form-field>

    <!-- Imágenes -->
    <div class="mb-3">
      <label class="mat-label">Imágenes del producto</label>
      <!-- Si el producto tiene imágenes -->
      <div *ngIf="selectedImages.length > 0; else sinImagenes" class="d-flex flex-wrap gap-2">

        <div class="upload-container" *ngFor="let img of selectedImages; let i = index">
          <div class="preview-container preview">
            <img [src]="img.preview" alt="Previsualización" />

            <!-- botón para borrar -->
            <button type="button" class="delete-btn" (click)="removeImage(i)">
              <i class="bi bi-trash3-fill"></i>
            </button>

          </div>
        </div>

      </div>


      <hr width="100%">

      <!-- Plantilla si no hay imágenes -->
      <ng-template #sinImagenes>
        <div class="alert alert-warning mt-2" role="alert">
          Este producto no cuenta con imágenes. Agregue algunas
        </div>
      </ng-template>


      <!-- Botón e Input para agregar nuevas imágenes -->
      <div class="d-flex align-items-center mt-3">
        <button class="btn btn-primary" type="button" (click)="fileInput.click()">
          {{ (producto.imagen.length > 0 || selectedImages.length > 0) ? 'Añadir más imágenes' : 'Seleccionar imágenes'}}
        </button>
        <input type="file" #fileInput (change)="onFileSelected($event)" multiple accept="image/*" hidden />
      </div>

      <!-- Manejo de errores del FormControl (si es necesario) -->
      <mat-error *ngIf="productoForm.get('imagenes')?.hasError('required')">
        Debes seleccionar al menos una imagen
      </mat-error>
    </div>

    <!-- Botones -->
    <div class="d-flex justify-content-end mt-4 gap-2">
      <button class="botonEditar" (click)="editarProducto()" type="submit"
        [disabled]="productoForm.invalid || isLoading || selectedImages.length === 0">
        <ng-container *ngIf="!isLoading; else loading">
          Actualizar Producto
        </ng-container>
        <ng-template #loading>
          <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
          <span class="ms-2" role="status">Actualizando...</span>
        </ng-template>
      </button>
      <button class="botonRojo" (click)="cerrar()">Cerrar</button>
    </div>
  </form>
</mat-dialog-content>
