<mat-dialog-content class="mat-typography p-3">
  <h4>Editar el producto <i>"{{producto.nombre}}"</i></h4>

  <form [formGroup]="productoForm" class="product-form">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Nombre del producto</mat-label>
      <input matInput formControlName="nombre" placeholder="Ej: Pollo asado">
      <mat-error *ngIf="productoForm.get('nombre')?.hasError('required')">
        El nombre es obligatorio
      </mat-error>
    </mat-form-field>

    <!-- Categoría -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Categoría</mat-label>
      <mat-select formControlName="categoria">
        <!-- Placeholder REAL -->
        <mat-option value="">Seleccione una categoría</mat-option>

        <!-- Categorías cargadas -->
        <mat-option *ngFor="let cat of categoriasNuevas" [value]="cat.idCategoria">
          {{ cat.nombreCategoria }}
        </mat-option>

      </mat-select>

      <mat-error *ngIf="productoForm.get('categoria')?.hasError('required')">
        La categoría es obligatoria
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Descripcion del producto</mat-label>
      <textarea matInput formControlName="descripcion" placeholder="Ej: Cocina en alto brillo estilo de"></textarea>
      <mat-error *ngIf="productoForm.get('descripcion')?.hasError('required')">
        El Descripcion es obligatorio
      </mat-error>
    </mat-form-field>

    <!--  <mat-form-field appearance="outline" class="full-width precio-field">
      <mat-label>Precio</mat-label>


      <input matInput autocomplete="off" #monto name="precio" formControlName="precio" placeholder="$0.00"
        (change)="updateValue(monto.value)" (keypress)="validateFormat($event)" />


      <mat-error *ngIf="productoForm.get('precio')?.hasError('required')">
        El precio es obligatorio
      </mat-error>
      <mat-error *ngIf="productoForm.get('precio')?.hasError('min')">
        El precio debe ser mayor a 0
      </mat-error>
    </mat-form-field> -->


    <!-- Imágenes -->
    <div class="mb-3">
      <!-- Si el producto tiene imágenes -->
      <div *ngIf="producto.imagen.length > 0; else sinImagenes" class="d-flex flex-wrap gap-2">

        <div class="upload-container">
          <div class="preview-container" *ngIf="selectedImages.length > 0">
            <div class="preview" *ngFor="let img of selectedImages; let i = index">
              <img [src]="img.preview" alt="Previsualización" />


              <button type="button" class="delete-btn" (click)="removeImage(i)">
                <i class="bi bi-trash3-fill"></i>
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- Botón para agregar nuevas imágenes -->
      <div class="d-flex align-items-center mt-2">
        <button class="btn btn-primary" type="button" (click)="fileInput.click()">Seleccionar imágenes</button>
        <input type="file" #fileInput (change)="onFileSelected($event)" multiple accept="image/*" hidden />
        <mat-error *ngIf="productoForm.get('imagenes')?.hasError('required')">
          Debes seleccionar al menos una imagen
        </mat-error>
      </div>

      <!-- Plantilla si no hay imágenes -->
      <ng-template #sinImagenes>
        <div class="alert alert-warning" role="alert">
          Este producto no cuenta con imágenes.
        </div>
      </ng-template>
    </div>

    <!-- Botones -->
    <div class="d-flex justify-content-end mt-4 gap-2">
      <button class="botonEditar" (click)="editarProducto()" type="submit"
        [disabled]="productoForm.invalid || isLoading">
        <ng-container *ngIf="!isLoading; else loading">
          Actualizar Producto
        </ng-container>
        <ng-template #loading>
          <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
          <span class="ms-2" role="status">Actualizando...</span>
        </ng-template>
      </button>
      <button class="botonRojo" (click)="cerrar()">Cerrar</button>
    </div>
  </form>
</mat-dialog-content>
