<mat-dialog-content class="mat-typography p-3">
  <h4>Editar el producto <i>"{{producto.nombre}}"</i></h4>
  <form [formGroup]="productoForm" class="product-form">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Nombre del producto</mat-label>
      <input matInput formControlName="nombre" placeholder="Ej: Pollo asado">
      <mat-error *ngIf="productoForm.get('nombre')?.hasError('required')">
        El nombre es obligatorio
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Descripcion del producto</mat-label>
      <input matInput formControlName="descripcion" placeholder="Ej: Pollo asado">
      <mat-error *ngIf="productoForm.get('descripcion')?.hasError('required')">
        El Descripcion es obligatorio
      </mat-error>
    </mat-form-field>

    <!-- Categoría -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Categoría</mat-label>
      <mat-select formControlName="categoria">
        <mat-option *ngIf="categoriasNuevas?.length === 0" disabled>SIN CATEGORÍAS</mat-option>
        <mat-option>Seleccione una categoria nueva</mat-option>
        <mat-option *ngFor="let cat of categoriasNuevas" [value]="cat.idCategoria">
          {{ cat.nombreCategoria }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="productoForm.get('categoria')?.hasError('required')">
        La categoría es obligatoria
      </mat-error>
    </mat-form-field>

   <!--  <mat-form-field appearance="outline" class="full-width precio-field">
      <mat-label>Precio</mat-label>


      <input matInput autocomplete="off" #monto name="precio" formControlName="precio" placeholder="$0.00"
        (change)="updateValue(monto.value)" (keypress)="validateFormat($event)" />


      <mat-error *ngIf="productoForm.get('precio')?.hasError('required')">
        El precio es obligatorio
      </mat-error>
      <mat-error *ngIf="productoForm.get('precio')?.hasError('min')">
        El precio debe ser mayor a 0
      </mat-error>
    </mat-form-field> -->

    <!-- Botones -->
    <div class="d-flex justify-content-end mt-4 gap-2">
      <button class="btn btn-warning" (click)="editarProducto()" [disabled]="productoForm.invalid">
        Actualizar Producto
      </button>
      <button class="btn btn-danger" color="primary" (click)="cerrar()">Cerrar</button>

    </div>
  </form>
</mat-dialog-content>
