.card-img-top {
  height: 160px;
  object-fit: cover;

}


.skeleton {
  background: linear-gradient(90deg, #e0e0e0 25%, #f5f5f5 50%, #e0e0e0 75%);
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite;
  border-radius: 4px;
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

.skeleton-img {
  width: 100%;
  height: 200px;
  border-radius: 8px;
  margin-bottom: 12px;
}

.skeleton-text {
  height: 16px;
  margin-bottom: 8px;
  width: 100%;
}

.skeleton-text.short {
  width: 60%;
}

.skeleton-text.title {
  width: 70%;
  height: 20px;
  margin-bottom: 12px;
}


.shadow-custom {
  box-shadow: 0 8px 20px rgba(44, 44, 44, 0.4); /* sombra más intensa */
  transition: box-shadow 0.3s ease;
}

.shadow-custom:hover {
  box-shadow: 0 12px 30px rgba(43, 43, 43, 0.5); /* sombra al pasar el mouse */
}


.estiloTexto{
  margin-top: 20px;
}


.botonVerDetalle{
 background-color: #018bfc;
 color: white;
 border-radius: 10px;
 text-decoration: none;
 padding: 15px;
 border: none;
 cursor: pointer;
 transition: all 0.2s ease; /* Suaviza la animación */
}

.botonVerDetalle:hover {
  transform: translateY(-3px); /* Se eleva */
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.25); /* Sombra realista */

}

.botonVerDetalle:active {
  transform: translateY(0px);
  box-shadow: 0px 3px 6px rgba(0,0,0,0.20);

}
